nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

nav h2 {
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
}

ul li a {
    color: #000;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.active {
    background-color: blue;
    color: white !important;
}